//aside
.aside {
  .card-aside {
    border: 2px solid white;
    background: #ffffff;
    margin: 0;
  }
  .suggestion {
    margin-top: 20px;
    h4 {
      margin: 0;
      font-size: 15px;
      color: #000000;
      &::after {
        content: "";
        display: inline-block;
        height: 1px;
        width: 100%;
        background-color: black;
      }
    }
    .contact {
      display: flex;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 20px;
      .photo-contact {
        width: 88px;
        height: 73px;
        background-color: #c4c4c4;
      }
      .contact-body {
        margin-left: 20px;
        .name-contact {
          font-size: 15px;
          font-weight: 700;
          color: #000000;
        }
        .commun-contact {
          font-size: 14px;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.65);
        }
        .ajout-contact {
          margin-top: 15px;
          font-size: 12px;
          font-weight: 400;
          color: #000000;
          &::before {
            content: "";
            display: inline-block;
            width: 17px;
            height: 12px;
            background: url("/img/add.svg");
            transform: translateY(-1px);
            vertical-align: middle;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
