@media only screen and (min-width: 520px) {
  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
    padding: 0 25px;
  }
  .topbar-logo,
  .topbar-nav {
    padding: 0;
  }
  .topbar-nav a {
    margin: 0 20px;
  }
  .sidebar {
    display: flex;

    a {
      margin: 0;
    }
  }
}

@media only screen and (min-width: 1025px) {
  .site {
    display: flex;
  }
  .sidebar {
    flex: none;
    // flex-direction: column;
    width: 180px;
    a {
      width: 100%;
    }
  }
  .main {
    width: 100%;
    margin-right: 30px;
    margin-left: 30px;
  }
  .aside {
    flex: none;
    width: 310px;
  }
}
